---
import HelloInput from '../../components/hello/HelloInput.svelte'
import HelloOutput from '../../components/hello/HelloOutput.svelte'

const name = Astro.params.name || ''

---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
	</head>
	<body>
        <HelloInput client:load />
		<HelloOutput name={name} />
	</body>
</html>
