---
const name = Astro.params.name || ''
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
	</head>
	<body>
        <h2>Hello {name}!</h2>
	</body>
</html>
